### 1. Import the necessary libraries if you are starting a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
import re

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
data = pd.read_csv('.\\files_for_lab\\we_fn_use_c_marketing_customer_value_analysis.csv')

### 2. Find all of the categorical data. Save it in a categorical_df variable

In [3]:
data.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [4]:
cols = data.columns.values
cols2 = []
for i in cols:
    
    i = re.sub(r"(\w)([A-Z])", r"\1_\2", i).lower()
    cols2.append(i)
    
cols2

data.columns = cols2

data.columns = [i.lower().replace(' ', '_') for i in data.columns]
data.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employment_status                 object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [5]:
categorical_df = data.select_dtypes('object')
categorical_df.dtypes

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employment_status    object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

In [6]:
categorical_df

,customer,state,response,coverage,education,effective_to_date,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

### 3. Check for NaN values

In [7]:
categorical_df.isna().sum()

customer             0
state                0
response             0
coverage             0
education            0
effective_to_date    0
employment_status    0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

### 4. Check all unique values of columns

In [8]:
categorical_df.customer.unique()

array(['BU79786', 'QZ44356', 'AI49188', ..., 'TD14365', 'UP19263',
       'Y167826'], dtype=object)

In [9]:
def v_count(df):
    for col in df:
        print(df[col].unique())

In [10]:
unique_values = v_count(categorical_df)
unique_values

['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
['No' 'Yes']
['Basic' 'Extended' 'Premium']
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
['2/24/11' '1/31/11' '2/19/11' '1/20/11' '2/3/11' '1/25/11' '1/18/11'
 '1/26/11' '2/17/11' '2/21/11' '1/6/11' '2/6/11' '1/10/11' '1/17/11'
 '1/5/11' '2/27/11' '1/14/11' '1/21/11' '2/5/11' '1/29/11' '2/28/11'
 '2/12/11' '2/2/11' '2/7/11' '1/22/11' '2/13/11' '1/15/11' '1/8/11'
 '1/11/11' '1/28/11' '2/8/11' '2/23/11' '1/2/11' '2/16/11' '1/27/11'
 '1/23/11' '1/9/11' '2/11/11' '2/4/11' '2/1/11' '2/15/11' '2/26/11'
 '1/16/11' '1/1/11' '2/10/11' '1/24/11' '2/25/11' '1/12/11' '2/9/11'
 '1/19/11' '1/4/11' '2/14/11' '2/20/11' '2/18/11' '1/3/11' '1/13/11'
 '1/30/11' '2/22/11' '1/7/11']
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
['F' 'M']
['Suburban' 'Rural' 'Urban']
['Married' 'Single' 'Divorced']
['Corporate Auto' 'Personal Auto' 'Special Auto']
['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
['Offer1' 'Offer3' 'Offer2' 'Offer4']
['Agent' 'Call Center' 'Web' 'Branch']
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
['Medsize' 'Small' 'Large']

### 5. Check dtypes. Do they all make sense as categorical data?

In [11]:
categorical_df.dtypes

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employment_status    object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

In [12]:
# dropping customer as it doesn't give us any info and is linked to a specific person...GDPR in mind
# Changing effective to date to datetime type
categorical_df = categorical_df.drop('customer', axis = 1)
categorical_df['effective_to_date'] = pd.to_datetime(categorical_df['effective_to_date'])
categorical_df.dtypes

state                        object
response                     object
coverage                     object
education                    object
effective_to_date    datetime64[ns]
employment_status            object
gender                       object
location_code                object
marital_status               object
policy_type                  object
policy                       object
renew_offer_type             object
sales_channel                object
vehicle_class                object
vehicle_size                 object
dtype: object

### 6. Does any column contain alpha and numeric data? Decide how to clean it

In [13]:
# We have already dropped customer which had alpha and numeric
# policy and renew_offer_type  have both alpha and numeric. We will drop the alpha in policy and rename the column policy_level
# and also drop the alpha in renew offer type but keeping the column as an object

In [14]:
# pattern = '\d'
# #    text = categorical_df.policy[i]

# for i in categorical_df.policy:
#     categorical_df.policy[i] = re.sub(categorical_df.policy[i], pattern)
#     print(i)

# sample_str = "Test & [88]%%$$$#$%-+ String 90$"
# # Iterate over all characters in string using a for loop
# #  and select only those characters, which are alpha-numberic
# mod_string = ""
# for elem in sample_str:
#     if elem.isalnum():
#         mod_string += elem
# sample_str = mod_string
# print(sample_str)

In [15]:
# pattern = '[A-Z]\w+'
# categorical_df.policy = re.sub(pattern,categorical_df.policy)
# categorical_df.policy

# text = categorical_df.policy[0]
# pattern = '\d'
# print(re.findall(pattern,text))

In [16]:
def alphac(x):
    if 'Corporate L' in x:
        return x.replace('Corporate L','')
    elif 'Personal L' in x:
        return x.replace('Personal L','')
    elif 'Special L' in x:
        return x.replace('Special L','')
    else:
        return x

In [17]:
categorical_df.policy = categorical_df.policy.apply(alphac)
categorical_df.policy.unique()

array(['3', '2', '1'], dtype=object)

In [18]:
# def alphab(x):
#     x.str.replace('Offer','')
    
#     return x
# categorical_df.renew_offer_type = categorical_df.renew_offer_type.apply(alphab)
# categorical_df.renew_offer_type.unique()

In [19]:
categorical_df.renew_offer_type = categorical_df.renew_offer_type.str.replace('Offer','')
categorical_df.renew_offer_type.unique()

array(['1', '3', '2', '4'], dtype=object)

In [20]:
categorical_df.rename(columns = {'policy':'policy_level'}, inplace = True)
categorical_df.columns

Index(['state', 'response', 'coverage', 'education', 'effective_to_date',
       'employment_status', 'gender', 'location_code', 'marital_status',
       'policy_type', 'policy_level', 'renew_offer_type', 'sales_channel',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

### 7. Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

In [21]:
# Dropping effective date as it has no real value
categorical_df = categorical_df.drop(['effective_to_date'], axis = 1)

### 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [22]:
# policy_type tells us the type of policy that is taken out, from personal to corporate. 
# We have extracted just the level in the policy as the other information is captured in policy_type

### 9. Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes

In [23]:
unique_values = v_count(categorical_df)
unique_values

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
['No' 'Yes']
['Basic' 'Extended' 'Premium']
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
['F' 'M']
['Suburban' 'Rural' 'Urban']
['Married' 'Single' 'Divorced']
['Corporate Auto' 'Personal Auto' 'Special Auto']
['3' '2' '1']
['1' '3' '2' '4']
['Agent' 'Call Center' 'Web' 'Branch']
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
['Medsize' 'Small' 'Large']

In [24]:
def val_count(df):
    for col in df:
        print(df[col].value_counts())

unique_value_count = val_count(categorical_df)
unique_value_count

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64
No     7826
Yes    1308
Name: response, dtype: int64
Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employment_status, dtype: int64
F    4658
M    4476
Name: gender, dtype: int64
Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64
Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64
3    4588
2    2881
1    1665
Name: policy_level, dtype: int64
1    3752
2    2926
3    1432
4    1024
Name: renew_offer_type, dtype: int64
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64
Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [25]:
def val_count(df):
    for col in df:
        print(df[col].value_counts()/len(df))

unique_value_count = val_count(categorical_df)
unique_value_count

California    0.344865
Oregon        0.284760
Arizona       0.186446
Nevada        0.096562
Washington    0.087366
Name: state, dtype: float64
No     0.856799
Yes    0.143201
Name: response, dtype: float64
Basic       0.609591
Extended    0.300197
Premium     0.090212
Name: coverage, dtype: float64
Bachelor                0.300854
College                 0.293519
High School or Below    0.287059
Master                  0.081125
Doctor                  0.037443
Name: education, dtype: float64
Employed         0.623823
Unemployed       0.253668
Medical Leave    0.047296
Disabled         0.044340
Retired          0.030874
Name: employment_status, dtype: float64
F    0.509963
M    0.490037
Name: gender, dtype: float64
Suburban    0.632691
Rural       0.194110
Urban       0.173199
Name: location_code, dtype: float64
Married     0.580031
Single      0.270090
Divorced    0.149880
Name: marital_status, dtype: float64
Personal Auto     0.743157
Corporate Auto    0.215459
Special Auto      0.041384
Name: policy_type, dtype: float64
3    0.502299
2    0.315415
1    0.182286
Name: policy_level, dtype: float64
1    0.410773
2    0.320342
3    0.156777
4    0.112109
Name: renew_offer_type, dtype: float64
Agent          0.380666
Branch         0.281038
Call Center    0.193234
Web            0.145062
Name: sales_channel, dtype: float64
Four-Door Car    0.505912
Two-Door Car     0.206481
SUV              0.196628
Sports Car       0.052989
Luxury SUV       0.020145
Luxury Car       0.017845
Name: vehicle_class, dtype: float64
Medsize    0.703306
Small      0.193125
Large      0.103569
Name: vehicle_size, dtype: float64

In [26]:
# I would combined Luxuary Car and Luxuary SUV as Luxuary

In [27]:
categorical_df['vehicle_class'] = np.where(categorical_df['vehicle_class'] == 'Luxury SUV', 'Luxury Car', categorical_df['vehicle_class'])
categorical_df['vehicle_class'] = categorical_df['vehicle_class'].str.replace('Luxury Car','Luxury')
categorical_df['vehicle_class'].unique()
categorical_df['vehicle_class'].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury            347
Name: vehicle_class, dtype: int64